@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-color: #000000;
    background-size: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    font-size: 2.5em;
    color: #ffffff;
    margin: 10px;
  }
  
  /* .page-subtitle {
    font-size: 1.3em;
    color: #ffffff;
    margin: 0 0 10px 0;
  } */
  
  .page-logo {
    width: 200px;
    border-radius: 25px;
  }
  
  .alura-logo {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding-top: .8em;
  }
  
  input {
    text-align: center;
    margin: 12px;
    padding: 6px;
    border-radius: 10px;
    border: none;
  }
  
  #moeda, #seg-moeda {
    text-align: center;
    margin: 12px;
    padding: 6px;
    border-radius: 15px;
    border: none;
  }

  #swap {
    width: 150px;
    height: 30px;
    margin: 12px;
    padding: 6px;
    border-radius: 15px;
    border: none;
  }

  /* label {
    color: white;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  } */
  